{% extends 'common/m_base.html' %}
{% block content %}


<!-- my info block -->
<div class="my-info-wrap clear-fix">
  <div class="right clear-fix col-sm-4">
    <ul class="image-name">
      <li class="profile-image"><img class="user-image" src="" alt=""></li>
      <ul class="names">
        <li class="name-item"></li>
        <li class="name-item"></li>
        <li class="name-item"></li>
      </ul>

    </ul>


  </div>
  <div class="center clear-fix col-sm-4">

    <ul class=center-item>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class=center-item>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class=center-item>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </div>
  <div class="left clear-fix col-sm-4">

  </div>



</div>









{% endblock %}
