$color-border: rgba(0,0,0,.0975);
$color-bg-gray: #fafafa;
$color-border-post: #e6e6e6;
// MyPage Variables
$color-bg-nav: #fff;
$color-pink: #ff005a;
$color-lt-light-grey: #999;
$color-bg-light-grey: #e3e3e3;
$color-dark-grey: #333;
$color-ft-dark-grey: #525252


// s3 주소
// https://s3.ap-northeast-2.amazonaws.com/projectgori/static/
