@import "variables";

.nav-wrap {
  width: 100vmax;
  // height:100px;
  height: 15.5vmin;
  float: left;
  background-color: $color-bg-nav;
  .nav-left{
    width: 36.5vmax;
    height: inherit;
    .nav-list{
      float: left;
      list-style: none;
      width: 80%;
      margin: 5vmin auto;
      .left-list-item{


        .left-item{
          font-size: 1.2em;
          font-style: italic;
          color: $color-lt-light-grey;
          font-weight: 600;
          float: left;
        }
      }
    }
  }
  .center-logo{
    height: 120px;
    width: 26vmax;
    // width: 340px;
    background-image: url(../../images/bg_header_logo.jpg);
    background-size: 334px 80px;
    // background-size: 25.5vmax 105px;
    // background-size: 26vmax 16vmin;

    overflow: hidden;

    height: inherit;
    .logo{
      width: 7.6vw;
      height: 40px;
      // margin: 30px 120px;
      margin: 5vmin 9.2vmax;
      size: auto;

    }
  }
  .nav-right{
    // background-color: blue;
    width: 36.6vmax;
    height: inherit;
  }
}
