@import "variables";

#notice {
  position: fixed;
  z-index: 999;
  width: 100%;

  top: 0;
  text-align: center;
  font-size: 20px;
  color: #fd6a70;
  background-color: rgba(0, 0, 0, 0.6);
}

.navbar {
  height: 100px;
  width: 100%;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 100;
  .container-fluid {
    position: relative;
    margin: 0;
    padding: 0;
    .navbar-header {
      margin: 0;
      padding: 0;
      height: 100px;
      > button {
        margin: 0;
        position: absolute;
        right: 20px;
        top: 31px;
      }
      .navbar-logo {
        display: inline-block;
        .main-logo {
           display: inline-block;
           width: 300px;
           height: 51px;
           margin: 20px;
           position: absolute;
           left: 0;
           top: 0;
           > a {
             > img {
               float: left;
               width: 100px;
               height: 48px;
               text-indent: -999px;
               background-image: url($host + "images/logo.png");
             }
           }
           .logo-text {
               position: absolute;
               bottom: -1px;
               left: 110px;
               color: white;
            }
         }
      }
    }
    .navbar-collapse {
      > ul {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        > li {
          > a {
            margin: 10px;
            padding: 0;
            text-align: center;
            color: white;
            > img {
              width: 36px;
              height: 36px;
              display: block;
              margin: 0 auto;
            }
            .nav-btn-word {
              margin-top: 5px;
              display: inline-block;
            }
            &:hover {
              color: #666;
            }
            &.nav-search {
              > img {
                content: url($host + "images/icon_search_on.png");
              }
              &:hover {
                > img {
                  content: url($host + "images/icon_search.png");
                }
              }
            }
            &.nav-tutor {
              > img {
                content: url($host + "images/icon_tutor_on.png");
              }
              &:hover {
                > img {
                  content: url($host + "images/icon_tutor.png");
                }
              }
            }
            &.nav-info {
              > img {
                content: url($host + "images/icon_info_on.png");
              }
              &:hover {
                > img {
                  content: url($host + "images/icon_info.png");
                }
              }
            }
            &.nav-join {
              > img {
                content: url($host + "images/icon_join_on.png");
              }
              &:hover {
                > img {
                  content: url($host + "images/icon_join.png");
                }
              }
            }
            &.nav-login {
              > img {
                content: url($host + "images/icon_login_on.png");
              }
              &:hover {
                > img {
                  content: url($host + "images/icon_login.png");
                }
              }
            }
          }
        }
      }
    }
  }
}
