@import "variables";

#main-video {
  width: 100%;
  display: inline-block;
  top: 0;
  .video-container {
    height: 100%;
    width: 100%;
    position: relative;
    > video {
      width: 100%;
      z-index: -999;
      background-size: cover;
    }
    .slogan {
      position: absolute;
      display: inline-block;
      margin: 0 auto;
      top: 70%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      text-align: center;
      color: white;
      .test {
        display: block;
        font-size: 20px;
        margin-bottom: 30px;
        background-color: rgba(265,102,102,0.7);
      }
      .slogan-top {
        display: block;
        font-size: 52px;
        line-height: 52px;
      }
      .slogan-bottom {
        margin-top: 20px;
        display: inline-block;
        font-size: 20px;
        font-weight: 100;
      }
    }
    .search-container {
      width: 100%;
      height: 106px;
      position: absolute;
      bottom: 0;
      background-color: rgba(0,0,0,0.7);
      .col-input {
        height: 50px;
        top:50%;
        transform: translateY(-50%);
        .input-search {
          height: 100%;
          margin: 0 auto;
          .input-box {
            height: 100%;
            font-size: 20px;
            border: 0px;
          }
          .input-group-btn {
            background-color: #eb3b4b;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            > button {
              color: white;
              font-size: 11px;
              width: 120px;
              height: 100%;
              border: 0px;
              margin: 0;
              padding: 0;
              > img {
                margin-right: 10px;
                height: 25px;
                width: 25px;
                content: url($host + "images/icon_search_on.png");
              }
              &:hover {
                background-color: #eb3b4b;
              }
            }
          }
        }
      }
    }
  }
}
