#section-category {
  width: 100%;
  background-image: url(https://s3.ap-northeast-2.amazonaws.com/projectgori/static/images/cate_computer.jpg);
  background-size: cover;
  display: inline-block;
  padding-bottom: 60px;
  .cate-text {
    text-align: center;
    padding-top: 90px;
    color: #fff;
    .cate-title {
      font-size: 20px;
      font-weight: 800;
      padding-bottom: 10px;
    }
    .cate-msg {
      font-size: 18px;
    }
  }

  .cate-container {
    padding-top: 60px;
    .cate-row {
      margin: 0 auto;
      padding: 0;
      .cate-item {
        padding: 30px;
        > a {
          width: 100%;
          height: 100%;
          font-size: 16px;
          color: #adadad;
          display: inline-block;
          text-align: center;
          text-decoration: none;
          > img {
            width: 100%;
            height: 100%;
          }
          &:hover {
            color: #fff;
          }
          &.cate-health:hover {
            >img {
              content: url(https://s3.ap-northeast-2.amazonaws.com/projectgori/static/images/cate_icon_health_on.png);
            }
          }
          &.cate-dance:hover {
            >img {
              content: url(https://s3.ap-northeast-2.amazonaws.com/projectgori/static/images/cate_icon_dance_on.png);
            }
          }
          &.cate-language:hover {
            >img {
              content: url(https://s3.ap-northeast-2.amazonaws.com/projectgori/static/images/cate_icon_language_on.png);
            }
          }
          &.cate-computer:hover {
            >img {
              content: url(https://s3.ap-northeast-2.amazonaws.com/projectgori/static/images/cate_icon_computer_on.png);
            }
          }
          &.cate-music:hover {
            >img {
              content: url(https://s3.ap-northeast-2.amazonaws.com/projectgori/static/images/cate_icon_music_on.png);
            }
          }
          &.cate-academy:hover {
            >img {
              content: url(https://s3.ap-northeast-2.amazonaws.com/projectgori/static/images/cate_icon_academy_on.png);
            }
          }
        }
      }
    }
  }
}
