{% extends 'common/base.html' %}
{% load staticfiles %}

{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-logo" href="#">
        <div class="main-logo">
          <a href=""><img src="" alt=""></a>
          <div class="logo-text">
            배움이 쉽고 즐거워진다
          </div>
        </div>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="nav-search">
            <img src="" alt="">
            <div class="nav-btn-word">강의검색</div>
          </a>
        </li>
        <li>
          <a href="#" class="nav-tutor">
            <img src="" alt="">
            <div class="nav-btn-word">튜터등록</div>
          </a>
        </li>
        <li>
          <a href="#" class="nav-info">
            <img src="" alt="">
            <div class="nav-btn-word">서비스소개</div>
          </a>
        </li>
        <li>
          <a href="#" class="nav-join">
            <img src="" alt="">
            <div class="nav-btn-word">회원가입</div>
          </a>
        </li>
        <li>
          <a href="#" class="nav-login">
            <img src="" alt="">
            <div class="nav-btn-word">로그인</div>
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="main-video">
  <div class="video-container">
    <div class="temp-image img-responsive"></div>
    <div class="slogan">
      <div class="slogan-top">무엇이 당신을 빛나게 하나요?</div>
      <div class="slogan-bottom">배움으로 삶을 풍요롭게 해보세요!</div>
    </div>
    <div class="search-container">
      <div class="col-xs-3"></div>
      <div class="col-xs-6 col-input">
        <div class="input-group">
          <input type="text" class="form-control input-box" placeholder="배우고 싶은 과목을 검색해보세요!">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <img src="" alt="">강의찾기
            </button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      <div class="col-xs-3"></div>

    </div>
  </div>
</div>

<div id="section-class">
  <div class="class-section-intro">
    <h1>
      CLASS<br>
      ㅡ
    </h1>
    <h2>
      04월의 추천강의를 살펴보세요.
    </h2>
  </div>

  <div class="class-section-content">
    <div class="container class-container">
      <div class="row class-row">
      </div>
    </div>

    <div class="search-custom-link">
      <a href="">내게 맞는 강의 검색 +</a>
    </div>
  </div>
</div>

<div id="section-category">
  <div class="cate-text">
    <div class="cate-title">CATEGORY<br>ㅡ</div>
    <div class="cate-msg">당신이 배우고 싶은것, 무엇이든 탈잉에 있습니다.</div>
  </div>
  <div class="container cate-container">
    <div class="row cate-row">
      <div class="col-md-2 col-sm-4 col-xs-4 cate-item">
        <a class="cate-health" href=""><img src="../../static/images/cate_icon_health.png" alt="">헬스 &amp; 뷰티</a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4 cate-item">
        <a class="cate-dance" href=""><img src="../../static/images/cate_icon_dance.png" alt="">댄스</a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4 cate-item">
        <a class="cate-language" href=""><img src="../../static/images/cate_icon_language.png" alt="">어학</a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4 cate-item">
        <a class="cate-computer" href=""><img src="../../static/images/cate_icon_computer.png" alt="">컴퓨터</a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4 cate-item">
        <a class="cate-music" href=""><img src="../../static/images/cate_icon_music.png" alt="">미술 &amp; 음악</a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4 cate-item">
        <a class="cate-academy" href=""><img src="../../static/images/cate_icon_academy.png" alt="">탈잉아카데미</a>
      </div>
    </div>
  </div>
</div>

<script>
  init();
  function init(){
    var row_width = $('.row').width() - 30;
    $('.search-custom-link').width(row_width);

    $('.cate-row').width(row_width);
    $('.cate-item').height($('.cate-item').width());

  }

  $(window).resize(function() {
    var row_width = $('.row').width() - 30;
    $('.search-custom-link').width(row_width);

    $('.cate-row').width(row_width);
    $('.cate-item').height($('.cate-item').width());

  });

  set_class_section();
  function set_class_section(){
    var url = 'https://mozzi.co.kr/api/talent/list/';

    // var url = 'http://localhost:8000/api/talent/list/';
    $.ajax({
      url: url,
      method: "GET",
      dataType: "json",
    })
    .done(function(data){
      console.log('done');
      console.log(data)
      length = data.results.length;
      results = data.results;
      // length만큼 반복
      for(i = 0; i < length; i++){
        // wrapper div를 새로 만든다.
        var newDom = $('<div class="col-md-4 col-sm-6 class-item"></div>');
        newDom.append('<a href="" class="item-container"></a>');
        var item_container = newDom.find('.item-container');

        //image, 좌측하단에 시간당 가격
        item_container.append('<div class="item-top"></div>');
        item_container.find('.item-top').append('<img class="item-image" src="" alt="" />');
        //image
        item_container.find('.item-image').attr("src", results[i].cover_image);
        //시간당 가격
        item_container.find('.item-top').append('<div class="item-price"></div>');
        var item_price = item_container.find('.item-price');

        item_price.append('<img class="item-price-img" src="" alt="" />');
        item_price.append('<div class="item-price-text"></div>');
        item_price.find('.item-price-text').text(results[i].price_per_hour);



        //제목, 튜터
        item_container.append('<div class="item-mid"></div>');
        var item_mid = item_container.find('.item-mid');
          //제목 추가
        item_mid.append('<div class="item-title-container"></div>');
        item_mid.find('.item-title-container').append('<div class="item-title"></div>');
        item_mid.find('.item-title').text(results[i].title);
          //튜터 정보 추가
        item_mid.append('<div class="item-tutor-container"></div>');
        item_mid.find('.item-tutor-container').append('<div class="item-tutor"></div>');
        item_mid.find('.item-tutor').text(results[i].tutor.name);
        item_mid.find('.item-tutor-container').append('<img class="item-tutor-pic" src="" alt="" />');
        item_mid.find('.item-tutor-pic').attr("src", results[i].tutor.profile_image);

        //수업형태, 평점, 지역
        item_container.append('<div class="item-bot"></div>');
        var item_bot = item_container.find('.item-bot');
        item_bot.append('<div class="col-md-3 col-sm-3 col-xs-3 item-bot-common item-group-type"></div>');
        item_bot.append('<div class="col-md-4 col-sm-4 col-xs-4 item-bot-common item-rate"></div>');
        //평점 이미지 작업
        item_bot.find('.item-rate').append('<div class="item-rate-img"></div>');
        var item_rate_img = item_bot.find('.item-rate-img');
        var average_rate = results[i].average_rate;
        console.log(average_rate);
        //리뷰가 없을 경우 NEW 이미지로
        if (results[i].review_count == 0) {
          item_rate_img.append('<img class="new-img" src="" alt="" />');
        }
        else {
          //값을 반올림처리하여 별점 이미지 반영
          var rounded_rate = Math.round(average_rate);
          for (k = 1; k <= 5; k++){
            if (rounded_rate >= k) {
              item_rate_img.append('<img class="star-on-img" src="" alt="" />');
            }
            else {
              item_rate_img.append('<img class="star-off-img" src="" alt="" />');
            }
          }
          //평점
          item_bot.find('.item-rate-img').append('<div class="item-review-count"></div>');
          item_bot.find('.item-review-count').text("("+ results[i].review_count + ")");
        }

        item_bot.append('<div class="col-md-5 col-sm-5 col-xs-5 item-bot-common item-location"></div>');
        //수업형태
        item_bot.find('.item-group-type').text(results[i].type);

        //장소
        var regions = '';
        for (j = 0; j < results[i].regions.length; j++) {
          if (j == 2){
            regions += results[i].regions[j];
            break;
          }

          if (j == (results[i].regions.length) - 1) {
            regions += results[i].regions[j];
          }
          else {
            regions += results[i].regions[j] + ', ';
          }
        }
        item_bot.find('.item-location').text(regions);

        $('.class-row').append(newDom);
      }
    })
    .fail(function(data){
      console.log('fail');
    });
  }
  // test();

</script>
{% endblock %}
