@charset "UTF-8";
html, body { font: normal 14px '나눔 고딕',NanumGothic, '맑은 고딕',MalgunGothic, sans-serif; width: 100%; height: 100%; margin: 0; padding: 0; font-size: 14px; line-height: 160%; letter-spacing: -1px; }
