@charset "UTF-8";
.base-font {
  font-family: "나눔바른고딕","NanumBarunGothic","맑은 고딕","Malgun Gothic","Apple Gothic","돋움",Dotum,"Helvetica Neue",Helvetica,Arial,sans-serif; }

.clear-fix ::after {
  float: left;
  content: “ “;
  display: block;
  height: 0;
  clear: both; }

.nav-item {
  float: left; }

.nav-list {
  float: left;
  list-style: none; }
