@charset "UTF-8";
#custom-nav {
  height: 108px;
  padding: 0;
  background-color: white;
  margin: 0;
  border: 0;
}

.navbar-box {
  width: 100%;
  padding: 0;
  background-color: white;
  border-style: none;
  border-color: white;
}

.custom-nav {
  background-color: white;
}

.custom-nav .container-fluid {
  padding: 0;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap {
  width: 100%;
  padding: 0;
  border: none;
  border-color: white;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap ul.nav-left {
  z-index: 2;
  height: 50%;
  right: -100px;
  top: 30px;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap ul.nav-left li.left-list-item {
  width: 60px;
  padding: 0;
  margin-left: 30px;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap ul.nav-left li.left-list-item a.left-item {
  padding: 0;
  font-size: 1.3em;
  font-style: italic;
  color: #999;
  font-weight: 600;
  float: left;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap ul.nav-left li.left-list-item a:hover {
  color: #ff005a;
  cursor: pointer;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap .center-logo {
  overflow: hidden;
  height: 105px;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/bg_header_logo.jpg);
  background-size: 340px 100px;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap .center-logo img.logo {
  size: 99px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  display: block;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap .center-logo .logo-message {
  display: table;
  top: -20px;
  margin-left: auto;
  margin-right: auto;
  color: #999;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap .right-button {
  position: relative;
  top: 40px;
  left: 130px;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap .right-button .button {
  background-color: pink;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap .right-button ul.right-menu li.menu-item a.menu-link {
  color: #999;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap ul.nav-right {
  height: inherit;
  top: 20px;
  left: -20px;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap ul.nav-right li.dropdown ul.nav-list {
  float: left;
  content: “ “;
  display: block;
  height: inherit;
  clear: both;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap ul.nav-right li.dropdown ul.nav-list li.right-list-item {
  float: left;
  margin-right: 10px;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap ul.nav-right li.dropdown ul.nav-list li.right-list-item img.right-image {
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap ul.nav-right li.dropdown ul.nav-list li.right-list-item .right-item {
  color: #999;
  display: block;
}

.custom-nav .container-fluid .navbar-header .navbar-wrap ul.nav-right li.dropdown ul.nav-list:hover {
  cursor: pointer;
}

.nav-wrap {
  width: 100vmax;
  height: 100px;
  float: left;
  background-color: #fff;
}

.nav-wrap .box-wrap {
  margin: 0 auto;
  width: 100%;
  height: inherit;
}

.nav-wrap .box-wrap .nav-left {
  height: inherit;
}

.nav-wrap .box-wrap .nav-left .nav-list {
  float: left;
  list-style: none;
  width: 80%;
  margin: 5vmin auto;
}

.nav-wrap .box-wrap .nav-left .nav-list .left-list-item .left-item {
  font-size: 1.2em;
  font-style: italic;
  color: #999;
  font-weight: 600;
  float: left;
}

.nav-wrap .box-wrap .nav-left .nav-list .left-list-item .left-item:hover {
  color: #ff005a;
  cursor: pointer;
}

.nav-wrap .box-wrap .center-logo {
  height: 120px;
  padding: 0;
  overflow: hidden;
  height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/bg_header_logo.jpg);
  background-size: 340px 100px;
}

.nav-wrap .box-wrap .center-logo .logo {
  size: 99px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  display: block;
}

.nav-wrap .box-wrap .center-logo .logo-message {
  display: table;
  top: -20px;
  margin-left: auto;
  margin-right: auto;
  color: #999;
}

.nav-wrap .box-wrap .nav-right {
  height: inherit;
}

.nav-wrap .box-wrap .nav-right #right-nav-list {
  padding: 0px;
  float: left;
  list-style: none;
}

.nav-wrap .box-wrap .nav-right #right-nav-list #right-nav-list ::after {
  float: left;
  content: “ “;
  display: block;
  height: 0;
  clear: both;
  padding: 0;
}

.nav-wrap .box-wrap .nav-right #right-nav-list .right-list-item {
  list-style: none;
  width: 60px;
}

.nav-wrap .box-wrap .nav-right #right-nav-list .right-list-item .a-tag {
  height: inherit;
}

.nav-wrap .box-wrap .nav-right #right-nav-list .right-list-item .a-tag .right-image {
  display: block;
  width: 38px;
  height: 38px;
  margin: 30px;
}

.nav-wrap .box-wrap .nav-right #right-nav-list .right-list-item .right-item {
  color: #999;
  display: block;
}

#wish-nav:hover {
  content: url(../../images/pink_cart.png);
}

#register-nav:hover {
  content: url(../../images/pink_tlist.png);
  color: pink;
}

#mypage-nav:hover {
  content: url(../../images/pink_smypage.png);
}

#log-out-nav:hover {
  content: url(../../images/pink_logout.png);
}

.nav-list {
  padding: 0;
}

#wish-nav:hover + span.right-item {
  color: #ff005a;
}

#register-nav:hover + span.right-item {
  color: #ff005a;
}

#mypage-nav:hover + span.right-item {
  color: #ff005a;
}

#log-out-nav:hover + span.right-item {
  color: #ff005a;
}
