#section-class {
  width: 100%;
  display: inline-block;
}

#section-class .class-section-intro {
  width: 100%;
  height: 260px;
  text-align: center;
  display: inline-block;
  background-color: #f1f1f1;
  padding-top: 100px;
}

#section-class .class-section-intro > h1 {
  font-size: 20px;
  font-weight: 900;
}

#section-class .class-section-intro > h2 {
  font-size: 18px;
  font-weight: 100;
  margin-top: 12px;
}

#section-class .class-section-content {
  width: 100%;
  background-color: #f1f1f1;
  position: relative;
}

#section-class .class-section-content .class-container {
  height: 100%;
  margin: 0 auto;
  padding-bottom: 150px;
}

#section-class .class-section-content .class-container .class-row {
  height: 100%;
  margin: 0;
  padding: 0;
}

#section-class .class-section-content .class-container .class-row .class-item {
  height: 100%;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 10px;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: inline-block;
  transition: 0.5s;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container:hover {
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

#section-class .class-section-content .class-container .class-row .class-item .item-container:hover .item-top > img {
  transform: scale(1.2);
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-top {
  width: 100%;
  height: 200px;
  text-align: center;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #eee;
  border-bottom: 0px;
  position: relative;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-top .item-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
  width: 100%;
  transition: 0.8s;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-top .item-price {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-top .item-price > img {
  position: absolute;
  float: left;
  height: 18px;
  width: 18px;
  content: url("../../images/icon_won.png");
  top: 50%;
  transform: translateY(-50%);
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-top .item-price .item-price-text {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  margin-left: 25px;
  color: #fd6a70;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-mid {
  width: 100%;
  height: 100px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-mid .item-title-container {
  float: left;
  width: 70%;
  height: 100%;
  position: relative;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-mid .item-title-container .item-title {
  position: absolute;
  text-align: left;
  color: black;
  margin-left: 20px;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-mid .item-tutor-container {
  float: right;
  width: 30%;
  height: 100%;
  position: relative;
  text-align: center;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-mid .item-tutor-container .item-tutor {
  position: absolute;
  color: black;
  width: 100%;
  font-size: 18px;
  display: inline-block;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-mid .item-tutor-container .item-tutor-pic {
  width: 70px;
  height: 70px;
  top: 0;
  border-radius: 50%;
  transform: translateY(-50%);
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-bot {
  width: 100%;
  height: 40px;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-bot .item-group-type {
  border: 1px solid #e5e5e5;
  border-right: 0px;
  border-bottom-left-radius: 10px;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-bot .item-rate {
  border: 1px solid #e5e5e5;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-bot .item-rate .item-rate-img {
  float: left;
  width: 100%;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-bot .item-rate .item-rate-img .star-on-img {
  height: 12px;
  width: 12px;
  content: url("../../images/icon_star_on.png");
  margin-bottom: 2px;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-bot .item-rate .item-rate-img .star-off-img {
  height: 12px;
  width: 12px;
  content: url("../../images/icon_star_off.png");
  margin-bottom: 2px;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-bot .item-rate .item-rate-img .new-img {
  width: 50px;
  height: 23px;
  margin-bottom: 2px;
  content: url("../../images/icon_new.png");
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-bot .item-rate .item-rate-img .item-review-count {
  display: inline;
  margin-left: 3px;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-bot .item-location {
  border: 1px solid #e5e5e5;
  border-left: 0px;
  border-bottom-right-radius: 10px;
}

#section-class .class-section-content .class-container .class-row .class-item .item-container .item-bot .item-bot-common {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 12px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  color: #666;
}

#section-class .class-section-content .search-custom-link {
  background-color: #fff;
  text-align: center;
  height: 60px;
  position: absolute;
  border-radius: 10px;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

#section-class .class-section-content .search-custom-link > a {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: inline-block;
  font-size: 18px;
  margin: auto;
  text-decoration: none;
  line-height: 60px;
  color: black;
  transition: 0.3s;
}

#section-class .class-section-content .search-custom-link > a:hover {
  background-color: #eb3b4b;
  color: #fff;
}

/*# sourceMappingURL=main_class.css.map */