#section-review {
  width: 100%;
  margin: 60px 0;
}

#section-review .review-message {
  text-align: center;
}

#section-review .review-message .review-message-top {
  font-size: 20px;
  font-weight: 800;
}

#section-review .review-message .review-message-bot {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 100;
}

#section-review .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #eb3b4b;
}

#section-review .swiper-container .swiper-button-next {
  background-image: none;
  font-size: 30px;
  transform: scaleY(2);
  color: #eb3b4b;
}

#section-review .swiper-container .swiper-button-prev {
  background-image: none;
  font-size: 30px;
  transform: scaleY(2);
  color: #eb3b4b;
}

#section-review .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
}

#section-review .swiper-container .swiper-wrapper .swiper-slide .swiper-item {
  padding: 0;
  margin: 60px 0;
  border: 1px solid #dadada;
}

#section-review .swiper-container .swiper-wrapper .swiper-slide .swiper-item .swiper-item-top {
  display: inline-block;
  width: 100%;
  padding: 30px 40px;
  background-color: #f4f4f4;
}

#section-review .swiper-container .swiper-wrapper .swiper-slide .swiper-item .swiper-item-top .swiper-item-top-img {
  padding: 0;
}

#section-review .swiper-container .swiper-wrapper .swiper-slide .swiper-item .swiper-item-top .swiper-item-top-img > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#section-review .swiper-container .swiper-wrapper .swiper-slide .swiper-item .swiper-item-top .swiper-item-top-img .swiper-img-1 {
  content: url("https://s3.ap-northeast-2.amazonaws.com/projectgori/static/images/review_pic_1.jpg");
}

#section-review .swiper-container .swiper-wrapper .swiper-slide .swiper-item .swiper-item-top .swiper-item-top-img .swiper-img-2 {
  content: url("https://s3.ap-northeast-2.amazonaws.com/projectgori/static/images/review_pic_2.jpg");
}

#section-review .swiper-container .swiper-wrapper .swiper-slide .swiper-item .swiper-item-top .swiper-item-top-img .swiper-img-3 {
  content: url("https://s3.ap-northeast-2.amazonaws.com/projectgori/static/images/review_pic_3.jpg");
}

#section-review .swiper-container .swiper-wrapper .swiper-slide .swiper-item .swiper-item-top .swiper-item-center {
  text-align: left;
}

#section-review .swiper-container .swiper-wrapper .swiper-slide .swiper-item .swiper-item-top .swiper-item-center .swiper-title {
  font-size: 22px;
}

#section-review .swiper-container .swiper-wrapper .swiper-slide .swiper-item .swiper-item-top .swiper-item-center .swiper-rate {
  margin: 10px 0;
}

#section-review .swiper-container .swiper-wrapper .swiper-slide .swiper-item .swiper-item-top .swiper-item-center .swiper-rate > img {
  width: 20px;
  height: 20px;
}

#section-review .swiper-container .swiper-wrapper .swiper-slide .swiper-item .swiper-item-top .swiper-item-center .swiper-rate .star-on {
  content: url("https://s3.ap-northeast-2.amazonaws.com/projectgori/static/images/icon_star_on.png");
}

#section-review .swiper-container .swiper-wrapper .swiper-slide .swiper-item .swiper-item-top .swiper-name {
  text-align: right;
  font-size: 20px;
  padding: 0;
}

#section-review .swiper-container .swiper-wrapper .swiper-slide .swiper-item .swiper-item-top .swiper-name .swiper-name-bot {
  font-weight: 100;
  margin-top: 10px;
}

#section-review .swiper-container .swiper-wrapper .swiper-slide .swiper-item .swiper-item-bot {
  font-size: 18px;
  padding: 30px 40px;
  text-align: justify;
}

/*# sourceMappingURL=main_review.css.map */