.navbar { height: 100px; width: 100%; border: 0; background-color: transparent; padding: 0; margin: 0; position: absolute; z-index: 30; }

.navbar .container-fluid { position: relative; margin: 0; padding: 0; }

.navbar .container-fluid .navbar-header { margin: 0; padding: 0; height: 100px; }

.navbar .container-fluid .navbar-header > button { margin: 0; position: absolute; right: 20px; top: 31px; }

.navbar .container-fluid .navbar-header .navbar-logo { display: inline-block; }

.navbar .container-fluid .navbar-header .navbar-logo .main-logo { display: inline-block; width: 300px; height: 51px; margin: 20px; position: absolute; left: 0; top: 0; }

.navbar .container-fluid .navbar-header .navbar-logo .main-logo > a > img { float: left; width: 100px; height: 48px; text-indent: -999px; background-image: url(../../images/logo.png); }

.navbar .container-fluid .navbar-header .navbar-logo .main-logo .logo-text { position: absolute; bottom: -1px; left: 110px; color: white; }

.navbar .container-fluid .navbar-collapse > ul { margin-top: 10px; margin-left: 10px; margin-right: 10px; }

.navbar .container-fluid .navbar-collapse > ul > li > a { margin: 10px; padding: 0; text-align: center; color: white; }

.navbar .container-fluid .navbar-collapse > ul > li > a > img { width: 36px; height: 36px; display: block; margin: 0 auto; }

.navbar .container-fluid .navbar-collapse > ul > li > a .nav-btn-word { margin-top: 5px; display: inline-block; }

.navbar .container-fluid .navbar-collapse > ul > li > a:hover { color: #666; }

.navbar .container-fluid .navbar-collapse > ul > li > a.nav-search > img { content: url(../../images/icon_search_on.png); }

.navbar .container-fluid .navbar-collapse > ul > li > a.nav-search:hover > img { content: url(../../images/icon_search.png); }

.navbar .container-fluid .navbar-collapse > ul > li > a.nav-tutor > img { content: url(../../images/icon_tutor_on.png); }

.navbar .container-fluid .navbar-collapse > ul > li > a.nav-tutor:hover > img { content: url(../../images/icon_tutor.png); }

.navbar .container-fluid .navbar-collapse > ul > li > a.nav-info > img { content: url(../../images/icon_info_on.png); }

.navbar .container-fluid .navbar-collapse > ul > li > a.nav-info:hover > img { content: url(../../images/icon_info.png); }

.navbar .container-fluid .navbar-collapse > ul > li > a.nav-join > img { content: url(../../images/icon_join_on.png); }

.navbar .container-fluid .navbar-collapse > ul > li > a.nav-join:hover > img { content: url(../../images/icon_join.png); }

.navbar .container-fluid .navbar-collapse > ul > li > a.nav-login > img { content: url(../../images/icon_login_on.png); }

.navbar .container-fluid .navbar-collapse > ul > li > a.nav-login:hover > img { content: url(../../images/icon_login.png); }

#main-video { height: 720px; width: 100%; display: inline-block; top: 0; z-index: -999; }

#main-video .video-container { height: 720px; width: 100%; position: relative; }

#main-video .video-container .temp-image { height: 100%; width: 100%; background: url("../../images/moon.jpg") no-repeat center; background-size: cover; }

#main-video .video-container .slogan { position: absolute; display: inline-block; margin: 0 auto; top: 70%; left: 0; right: 0; transform: translateY(-50%); text-align: center; color: white; }

#main-video .video-container .slogan .slogan-top { display: block; font-size: 52px; line-height: 52px; }

#main-video .video-container .slogan .slogan-bottom { margin-top: 20px; display: inline-block; font-size: 20px; font-weight: 100; }

#main-video .video-container .search-container { width: 100%; height: 106px; position: absolute; bottom: 0; background-color: rgba(0, 0, 0, 0.7); }

#main-video .video-container .search-container .col-input { height: 50px; top: 50%; transform: translateY(-50%); }

#main-video .video-container .search-container .col-input .input-group { height: 100%; }

#main-video .video-container .search-container .col-input .input-group .input-box { height: 100%; font-size: 20px; border: 0px; }

#main-video .video-container .search-container .col-input .input-group .input-group-btn { background-color: #eb3b4b; border-top-right-radius: 5px; border-bottom-right-radius: 5px; }

#main-video .video-container .search-container .col-input .input-group .input-group-btn > button { color: white; font-size: 11px; width: 120px; height: 100%; border: 0px; margin: 0; padding: 0; }

#main-video .video-container .search-container .col-input .input-group .input-group-btn > button > img { margin-right: 10px; height: 25px; width: 25px; content: url(../../images/icon_search_on.png); }

#main-video .video-container .search-container .col-input .input-group .input-group-btn > button:hover { background-color: #eb3b4b; }

#class-section { width: 100%; display: inline-block; }

#class-section .class-section-intro { width: 100%; height: 260px; text-align: center; display: inline-block; background-color: #f1f1f1; padding-top: 100px; }

#class-section .class-section-intro > h1 { font-size: 20px; font-weight: 900; }

#class-section .class-section-intro > h2 { font-size: 18px; font-weight: 100; margin-top: 12px; }

#class-section .class-section-content { width: 100%; background-color: #f1f1f1; }

#class-section .class-section-content .container { height: 100%; margin: 0 auto; }

#class-section .class-section-content .container .row { height: 100%; margin: 0; padding: 0; }

#class-section .class-section-content .container .row .class-item { height: 100%; margin: 0; padding: 15px; box-sizing: border-box; text-decoration: none; }

#class-section .class-section-content .container .row .class-item .item-top { width: 100%; height: 200px; text-align: center; overflow: hidden; }

#class-section .class-section-content .container .row .class-item .item-top > img { height: 100%; width: 100%; }

#class-section .class-section-content .container .row .class-item .item-mid { width: 100%; height: 100px; background-color: white; text-align: center; vertical-align: middle; }

#class-section .class-section-content .container .row .class-item .item-mid .item-title-container { float: left; width: 70%; height: 100%; position: relative; }

#class-section .class-section-content .container .row .class-item .item-mid .item-title-container .item-title { position: absolute; text-align: left; color: black; margin-left: 20px; font-size: 14px; top: 50%; transform: translateY(-50%); }

#class-section .class-section-content .container .row .class-item .item-mid .item-tutor-container { float: right; width: 30%; height: 100%; position: relative; text-align: center; }

#class-section .class-section-content .container .row .class-item .item-mid .item-tutor-container .item-tutor { position: absolute; color: black; width: 100%; font-size: 18px; display: inline-block; top: 70%; left: 50%; transform: translate(-50%, -70%); }

#class-section .class-section-content .container .row .class-item .item-mid .item-tutor-container .item-tutor-pic { width: 80px; height: 80px; top: 0; border-radius: 50%; transform: translateY(-50%); }

#class-section .class-section-content .container .row .class-item .item-bot { width: 100%; height: 40px; background-color: white; font-size: 13px; }

#class-section .class-section-content .container .row .class-item .item-bot .item-group-type { border: 1px black solid; box-sizing: border-box; }

#class-section .class-section-content .container .row .class-item .item-bot .item-rate { border: 1px black solid; box-sizing: border-box; }

#class-section .class-section-content .container .row .class-item .item-bot .item-location { border: 1px black solid; box-sizing: border-box; }

/*# sourceMappingURL=nav.compact.css.map */