.nav-wrap {
  width: 100vmax;
  height: 26vmax;
  float: left;
  background-color: #fff;
}

.nav-wrap .nav-left {
  width: 36.5vmax;
  height: inherit;
}

.nav-wrap .center-logo {
  width: 26vmax;
  background-image: url(../../images/bg_header_logo.jpg);
  background-size: 25.5vmax 105px;
  height: inherit;
}

.nav-wrap .center-logo .logo {
  width: 7.6vmax;
  margin: 30px 9.2vmax;
  size: auto;
}

.nav-wrap .nav-right {
  width: 36.6vmax;
  height: inherit;
}
