<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- script -->
  <script src="../../static/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- m_CSS-->
  <link rel="stylesheet" href="../../static/custom/css/m_base.css">
  <link rel="stylesheet" href="../../static/custom/css/m_common.css">
  <link rel="stylesheet" href="../../static/custom/css/m_nav.css">

  <title>gori</title>
</head>
<body>
  <nav class="nav-wrap clear-fix">
    <div class="nav-left nav-item">
      <ul class="nav-list clear-fix">
        <li class="left-list-item"><span class="left-item">탈잉소개</span></li>
        <li class="left-list-item"><span class="left-item">튜터등록</span></li>
        <li class="left-list-item"><span class="left-item">강의검색</span></li>
      </ul>
    </div>

    <div class="center-logo nav-item">
      <img class="logo" src="../../static/images/pink_logo.jpg" alt="">
    </div>

    <div class="nav-right nav-item">
      <span class="wish-list">위시리스트</span>
      <span class="talent-register">수업신청서</span>
      <span class="my-page">마이페이지</span>
      <span class="logout">로그아웃</span>

    </div>
  </nav>




  {% block content %} {% endblock %}

</body>
</html>
